<!doctype html>
<html lang="en" ng-app='mean-blog.admin'>
<head>
  <meta charset="utf-8">

  <title>D.O.S.T</title>
  <meta name="description" content="ghost clone javascript blog node.js angular.js">
  <meta name="author" content="Connor Leech">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/admin/dist/css/AdminLTE.min.css">
</head>
<body class="hold-transition login-page">

    <div class="login-box" ng-controller="ForgotPasswordCtrl">
  <div class="login-logo">
   <b>D.O.S.T</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

   <form method='post' action='/forgot'>
      <div class="form-group has-feedback">
        <input type="email" ng-model='user.email' name='email' required class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
            <input type="submit" class="btn btn-primary btn-block btn-flat" value="Submit"/>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</body>
</html>



