<section class="segment" style="padding-top: 20px;" ng-controller="aboutusCtrl">
  <div class="container">
    <div class="row">
      <div class="seg_cnt process">
        <h4>Who are WE?</h4>
          <p>
            DOST is designed and run by four industry professionals whose expertise lies in:
          - Integrated planning system design for process optimization
          - Digital Marketing and E-commerce to drive sales
          - Consumer insights and Demand Planning for investment decisions
          - Leading cross-regional teams for end-to-end supply planning and loss elimination

          This passionate and young group of entrepreneurs aims to deliver end-to-end value creation for the Indian wedding industry. 
          <br>
          Try DOST today!
        </p>
      </div>
       <div class="seg_cnt process">
        <h4>Why DOST?</h4>
          <p>
           DOST or Digital One-stop solution for Shaadi Time is a subsidiary of Singapore-based Investment@Spectra Pte. Ltd. DOST's mission is to revolutionize the Indian wedding planning industry by offering:
          - Transparency and a better wedding experience for the common man
          - Productivity and business growth through data-driven insights for the wedding industry
          </p>
          <p>
          This will be enabled via:
          - Digital Planning - Cloud-based real-time response from all nodes, Modular & Fluid planning options to provide flexibility in managing manpower
          - Commercial Networking - Allows vendors to find potential endorsers/freelancers for direct marketing
          - Integrating new technology - Integrate technology across all nodes for smoother and faster integration to enable end-to-end value creation

          Use DOST, spend less time planning, avoid hassle, and make weddings memorable for the quality time you spend with your loved ones!

          DOST has launched in Delhi and will soon be expanding to five other top cities in India. 

          If you have any feedback and suggestions or would like to partner with us, please <a href="#">contact us</a>.

        </p>
      </div>
      <!--row-->
    </div>
    <!--list-->
  </div>
  <!--container-->
</section>