<section class="segment" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td>/users/getvendorbytype :</td>
                        <td> vendor_type : 'Photgrapher'</td>
                    </tr>
                    <tr>
                        <td>/users/getallvendors :</td>
                        <td> role : 'vendor', page : '1'</td>
                    </tr>
                     <tr>/
                        <td>/users/userdetails</td>
                        <td> _id : 5bdssdfs4sdfsdcccsd45 </td>
                    </tr>
                    <tr>
                        <td>/users/gallaryimage:</td>
                        <td> upload gallary images to bucket </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>