<section class="segment" ng-controller="changepasswordCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="seg_cnt">
                    <h1 class="styled exp_usr">Change Password</h1>
                    <!-- Tab panes -->
                    <div class="cust_tab">
                        <div ng-if="success_msg" class="alert alert-success">
                            <strong>Success!</strong> {{success_msg}}
                        </div>
                        <div ng-if="error_msg" class="alert alert-danger">
                            <strong>Error!</strong> {{error_msg}}
                        </div>
                        <form ng-if="currentUser" class="log" ng-submit="changepassword(user)">
                            <!--<div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Old Password">
                            </div>-->
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password" ng-model="user.password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm New Password" ng-model="user.confirmpassword">
                            </div>
                            <center><button type="submit" id="indexb"  type="submit" class="btn btn-default exp_btn styled sub"
                                    styled>Submit</button></center>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>