<section class="segment" ng-controller="invitationCtrl">
    <div class="container">
	<div style="text-align: center;">
	<img style="width:300px;" src="http://wedding-dost.us-east-1.elasticbeanstalk.com/admin/uploads/icon.png">
	</div>
  I am giving you an offer to get discounts on D.O.S.T. To accept, use code "<span style="color: #f04f33;"> {{code}} </span>" to Signup. Enjoy! App Link <a style="color: #f04f33;" href="https://play.google.com/store/apps/details?id=com.dost.wedding&hl=en">https://play.google.com/store/apps/details?id=com.dost.wedding&hl=en</a>
 
    </div>
</section>
