<!--change password-->
<div class="cantant" ng-controller="ForgetCtrl">
    <div class="container">
        <div class="row">
            <div class="changepwd-head">
                <h3>Reset Password</h3>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <div ng-if="success_msg" class="alert alert-success">
                    <strong>Success!</strong> {{success_msg}}
                </div>
                <div ng-if="error_msg" class="alert alert-danger">
                    <strong>Error!</strong> {{error_msg}}
                </div>
                <div class="changepwd">
                    <div class="changepwd-mid">
                        <form ng-if="currentUser" class="change-pwf" ng-submit="changepassword(user)">

                            <div class="form-group">
                                <label>Enter New Password</label>
                                <input type="password" class="form-control" ng-model="user.password">
                            </div>

                            <div class="form-group">
                                <label>Re-Enter New Password</label>
                                <input type="password" class="form-control" ng-model="user.confirmpassword">
                            </div>
                            <center><button type="submit" class="btn defult_btn contin-log">Submit</button></center>
                        </form>
                        <form ng-if="!currentUser" class="change-pwf" ng-submit="sendemmail(user)">
                            <div class="form-group">
                                <label>Registered mobile number : </label>
                                <input type="password" class="form-control" ng-model="user.phone">
                            </div>
                            <center><button type="submit" class="btn defult_btn contin-log">Submit</button></center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>