<section class="segment" ng-controller="postjobCtrl">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="seg_cnt">
          <h1 class="styled exp_usr">Post a Job</h1>
          <!-- Tab panes -->
          <div class="cust_tab">
            <form class="log">
              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Title">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cost">
              </div>

              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Time">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Special Need">
              </div>

              <div class="form-group">
                <textarea type="text" class="form-control txtarea" placeholder="Job Description"></textarea>
              </div>

              <center><button href="#" type="submit" class="btn btn-default exp_btn styled sub" styled>Submit</button></center>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>