<section class="segment" ng-controller="SignupCtrl">
    <div class="container">
    	<div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            	<div class="seg_cnt">
                    <h1 class="styled exp_usr">Users</h1>
                    <!-- Tab panes -->
                    <div class="cust_tab">
                        
                        <div class="alert alert-success" ng-if="success_msg">
                            <strong>Success!</strong> {{success_msg}}
                        </div>
                        
                        <div class="alert alert-danger" ng-if="error_msg">
                            <strong>Error!</strong> {{error_msg}}
                        </div>

                        <form id="signup_user" name="loginform" class="log" ng-submit="register()">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" ng-model="user.name" placeholder="Name" required>
                              </div>

                              <div class="form-group">
                                <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
                              </div>
                              <div class="form-group">
                                <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
                              </div>
                               <div class="form-group">
                                <input type="password" class="form-control" name="ConfirmPassword" ng-model="user.confirmPassword" placeholder="Confirm Password" required>
                              </div>

                          <center>
                              <!--<button name="submit" type="submit" ng-disabled="loginform.$invalid" class="btn btn-default exp_btn styled sub">Sign Up</button>-->
    
                              <input name="submit" type="submit" class="btn btn-default exp_btn styled sub" value="Sign up" ng-disabled="loginform.$invalid"/>
                              <!--<a href="index.html" type="submit" class="btn btn-default exp_btn styled sub" styled>sign up</a>-->
                          </center>
                     
                        </form>
                    
                  	<a href="/signin" class="already">Already have an account? <span> SIGN IN</span></a>
                    
                	<a href="/signup_vendor" class="click">ARE YOU A VENDOR <span> (Click here)</span></a>
                    
                </div>
            </div>
           </div>
        </div>
    </div>
</section>
