<section class="segment" ng-controller="SigninCtrl">
    <div class="container">
    	<div class="row">
            <div class="col-sm-8 col-sm-offset-2">
            	<div class="seg_cnt">
            	<ul class="nav nav-tabs seg" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">Users</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Vendors</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content cust_tab">
                    
                     <div class="alert alert-success" ng-if="success_msg">
                            <strong>Success!</strong> {{success_msg}}
                        </div>
                        
                        <div class="alert alert-danger" ng-if="error_msg">
                            <strong>Error!</strong> {{error_msg}}
                        </div>
                
                  <div class="tab-pane active" id="home" role="tabpanel">
                  
                      <form class="log" id="signin_user" name="loginform" ng-submit="login()">
                      <div class="form-group">
                          <input type='number' class="form-control" placeholder="Phone number"  ng-model="user.phone" required>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control"  placeholder="Password" name="password" ng-model="user.password" required>
                      </div>
                      
                  <center>
                      <input name="submit" type="submit" class="btn btn-default exp_btn styled sub" value="Sign in" ng-disabled="loginform.$invalid"/>
                              
                      <!--<a href="index.html" type="submit" class="btn btn-default exp_btn styled sub" styled>sign in</a>-->
                     
                    </form>
                  
                  <div class="fancy"><span>or</span></div>
                
                <div class="fb">
                
                	<a class="fb_a">
                    	<img src="/home/img/soc1.png" />
                    </a>
                    
                    <a class="fb_b">
                    	<img src="/home/img/soc2.png" />
                    </a>
                    
                </div>
                
                
                <div class="fb">
                
                	<a href="" class="fb_a" style="color:#e5053a;">
                    	Forgot Your Password?
                    </a>
                    
                    <a href="/signup_vendor" class="fb_b" style="color:#ccc;">
                    	Don't have an account? <span style="color:#e5053a;">SIGNUP</span>
                    </a>
                    
                </div>
                
                  
                  </div><!--home-->
                  
                  
                  
                  <div class="tab-pane" id="profile" role="tabpanel">
                  
                  	 <form class="log" id="signin_user" name="loginform" ng-submit="login()">
                      <div class="form-group">
                          <input type='number' class="form-control" placeholder="Phone number"  ng-model="user.phone" required>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control"  placeholder="Password" name="password" ng-model="user.password" required>
                      </div>
                      
                  <center>
                      <input name="submit" type="submit" class="btn btn-default exp_btn styled sub" value="Sign in" ng-disabled="loginform.$invalid"/>
                              
                      <!--<a href="index.html" type="submit" class="btn btn-default exp_btn styled sub" styled>sign in</a>-->
                     
                    </form>
                  
                  
                  <div class="fancy"><span>or</span></div>
                
                <div class="fb">
                
                	<a class="fb_a">
                    	<img src="/home/img/soc1.png" />
                    </a>
                    
                    <a class="fb_b">
                    	<img src="/home/img/soc2.png" />
                    </a>
                    
                </div>
                
                <div class="fb">
                
                	<a href="" class="fb_a" style="color:#e5053a;">
                    	Forgot Your Password?
                        <a href="../../../views/index.ejs"></a>
                    </a>
                    
                    <a href="/signup_vendor" class="fb_b" style="color:#ccc;">
                    	Don't have an account? <span style="color:#e5053a;">SIGNUP</span>
                    </a>
                    
                </div>
                
                  
                  </div><!--profile-->
                  
                </div>
            </div>
           </div>
        </div>
    </div>
</section>