<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="border-right: 1px solid #ccc;">
        <div class="row" style="padding-left:25px" align="left">
          <div style="padding-bottom:5px;">
            <div class="t1"> DOST - For all your Shaadi Planning needs! </div>
          </div>
          <!--<div style="padding-bottom:8px">
            <div class="t2">Plan your wedding with us</div>
          </div>-->
          <div style="padding-bottom:10px">
            <div class="t2 ng-binding" style="padding-right:40px" align="justify">
              DOST is an Indian wedding planning website and app which enables the end-to-end of wedding planning. Be it planning the most minute details of your wedding, browsing through thousands of vendors, reading through countless reviews, collaborating seamlessly, posting jobs for vendors to contact you or connecting and networking on all things wedding, DOST has it covered! Join the network and let DOST make your wedding planning experience hassle-free and fun!
            </div>
          </div>
          <a href="/signup_user">
          <button id="submit-wedding-web" class="styled"> Register as a User</button>
          </a> <span style="padding-left:20px"></span>
          <a href="/signup_vendor"><button class="Register-Vendor"> Register as a Vendor </button></a>
        </div>
      </div>  
      <div class="col-md-6">
        <div sytle="padding-left:30px" align="left">
          <div>
            <div class="t1" style="padding-bottom:3%"> Get Latest Blog Alerts </div>
            <div class="wrapper">
              <form action="" method="post" target="_blank">
                <input value="" name="EMAIL" class="email" placeholder="Enter your email address" type="email">
                <span class="clear">
                <input value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button styled" type="submit">
                </span>
              </form>
            </div>
          </div>
          
          <div style="display:flex;padding-top:25px">
          
            <div class="t1" style="padding-top:0px;padding-bottom:4px"> Follow us on:</div>
            
            <a href="#">
        <div style="background:url('.//home/img/footer_sprite.png') 0 -140px;height:25px;width:25px;display:inline-block;"> </div>          </a>
            
            <a href="#">
            <div style="background:url('.//home/img/footer_sprite.png') 0 0;height:25px;width:25px;display:inline-block;"> </div>
            </a> 
            
            <a href="#">
        <div style="background:url('.//home/img/footer_sprite.png') 0 -106px;height:25px;width:25px;display:inline-block;"> </div>
            </a>
            
            <a href="#">
         <div style="background:url('.//home/img/footer_sprite.png') 0 -70px;height:25px;width:25px;display:inline-block;"> </div>
         </a>
         
            <a href="#">
        <div style="background:url('.//home/img/footer_sprite.png') 0 -34px ;height:25px;width:25px;display:inline-block;"> </div>
            </a> 
            
           </div><!---->
           
          <div>
            <div class="t1"> Contact us to get best deals </div>
          </div><!---->
          
          <div style="display:flex;padding-bottom:14px">
            <div style="background:url('.//home/img/footer_sprite.png') -31px 0px;height:25px;width:32px;display:inline-block;"> </div>
            <div class="t2" style="padding-top:6px"><a href="#">abc@gmail.com</a></div>
          </div>
          
          <div style="display:flex;padding-top:3px;padding-bottom:25px">
            <div style="background:url('.//home/img/footer_sprite.png') -33px -54px;height:22px;width:22px;display:inline-block;"> </div>
            <div style="background:url('.//home/img/footer_sprite.png') -34px -29px;height:22px;width:22px;display:inline-block;"> </div>
            <a href="#" style="text-decoration:none;">
            <div class="t2">+(91)-9876543210</div>
            </a>
            
            </div><!---->
            
          <div class="row">
            <div class="col-md-12">
              <div class="border-sell-web">
                <div class="row">
                  <div class="col-md-4">
                    <div style="display:inline-block; padding-right:108px">
                      <div style="background:url('.//home/img/footer_sprite.png') 35px 113px;height:60px;width:35px;display:inline-block;"> <span class="t4">
                              Discover Digital Planning</span> </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div style="display:inline-block; padding-right:108px">
                      <div style="background:url('.//home/img/footer_sprite.png') 37px -50px;height:60px;width:35px;display:inline-block;"> <span class="t4">
                              Book Commercial Networking</span> </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div style="display:inline-block; padding-right:108px">
                      <div style="background:url('.//home/img/footer_sprite.png') 38px 2px;height:60px;width:35px;display:inline-block;"> <span class="t4">
                              Always Integrating new technology</span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--row-->
          
        </div>
      </div>
    </div>
    <!--main_row_end-->
    
    <div class="row" style="padding-top:30px;padding-bottom:20px">
      <hr style="border-top: 1px solid #ccc;">
    </div>
    <div class="row">
      <div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> Delhi NCR </div>
        <ul class="type">
        	<li><a>venues</a></li>
            <li><a>Wedding planners</a></li>
            <li><a>makeup</a></li>
            <li><a>Wedding decorators</a></li>
            <li><a>Bridal Wear</a></li>
            <li><a>groom wear</a></li>        
            <li><a>Wedding cards</a></li>
            <li><a>videography & photography</a></li>
            <li><a>Mehandi Artist</a></li>
            <li><a>Wedding Jewellery</a></li>
            <li><a>wedding catering</a></li>
            <li><a>wedding Entertainement</a></li>
            <li><a>choreographers</a></li>
            <li><a>wedding accessories</a></li>
        </ul>
        
      </div>
      <div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> mumbai </div>
        
         <ul class="type">
        	<li><a>venues</a></li>
            <li><a>Wedding planners</a></li>
            <li><a>makeup</a></li>
            <li><a>Wedding decorators</a></li>
            <li><a>Bridal Wear</a></li>
            <li><a>groom wea</a>r</li>        
            <li><a>Wedding cards</a></li>
            <li><a>videography & photography</a></li>
            <li><a>Mehandi Artis</a>t</li>
            <li><a>Wedding Jewellery</a></li>
            <li><a>wedding catering</a></li>
            <li><a>wedding Entertainement</a></li>
            <li><a>choreographers</a></li>
            <li><a>wedding accessories</a></li>
        </ul>
        
      </div>
      <div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> Chennai  </div>
        
         <ul class="type">
        	<li><a>venues</a></li>
            <li><a>Wedding planners</a></li>
            <li><a>makeup</a></li>
            <li><a>Wedding decorators</a></li>
            <li><a>Bridal Wear</a></li>
            <li><a>groom wear</a></li>        
            <li><a>Wedding cards</a></li>
            <li><a>videography & photography</a></li>
            <li><a>Mehandi Artist</a></li>
            <li><a>Wedding Jewellery</a></li>
            <li><a>wedding catering</a></li>
            <li><a>wedding Entertainement</a></li>
            <li><a>choreographers</a></li>
            <li><a>wedding accessories</a></li>
        </ul>
        
      </div>
      <!--<div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> other vendors </div>
        
         <ul class="type">
        	<li><a>DJ</a></li>
            <li><a>packings</a></li>
            <li><a>cakes</a></li>
        </ul>
        
      </div>-->
      <div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> other cities </div>
     
         <ul class="type">
            <li><a>kolkata</a></li>
            <li><a>chandigarh</a></li>        
            <li><a>Bhubaneswar</a></li>
            <li><a>Jaipur</a></li>
            <li><a>Udaipur</a></li>
        </ul>
        
      </div>
      <div class="col-md-2">
      	<div class="t1" style="padding-bottom:3%"> more </div>
       
         <ul class="type">
        	<li><a>Home</a></li>
            <li><a>about us</a></li>
            <li><a>DOST Shaadi Diaries</a></li>
            <li><a>Download our App</a></li>
            <!--<li><a>site map</a></li>      
            <li><a>Wedding inspiration & ideas</a></li>
            <li><a>real wedding</a></li>
            <li><a>download our app</a></li>-->
        </ul>
      </div>
      
    </div>
    
     <div class="copyright">
        <div class="lft">2017.All right reserved</div>
        <div class="rt"><a>Terms and conditions | Privacy Policy</a></div>
     </div>
    
  </div>
  
 
 <div id="backtotop"><i class="glyphicon glyphicon-chevron-up"></i></div>
  
</footer>


<div class="chat_box" id="chat">
      <div class="chatheader online styled exp_btn" onclick='showhidechat()'>Contact Us
      </div>
      <div class="pesan_chat">
        <form>
             <input class="form-control" placeholder="User Name" type="text">
            <textarea type="text" class="form-control txtarea chat_text" placeholder="About Us"></textarea>
            <a href="#" class="btn btn-default exp_btn" role="button" style="padding: 4px 32px;text-transform: capitalize;font-size: 15px;">Submit</a>
        </form>
      </div>
    </div>