<!doctype html>
<html lang="en" ng-app='mean-blog.home'>
<head>
  <meta charset="utf-8">

  <title>Reset Password</title>
  <meta name="description" content="ghost clone javascript blog node.js angular.js">
  <meta name="author" content="Connor Leech">

   <!-- Angular Material CSS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--<link rel="stylesheet" href="/home/css/main.css">-->
   <link href="/home/css/bootstrap.min.css" rel="stylesheet">
       <link href="/home/css/style.css" rel="stylesheet">
         <link href="/home/font-awesome/css/font-awesome.min.css" rel="stylesheet">
         <link href="/home/css/slick.css" rel="stylesheet">
         <link href="/home/css/slick-theme.css" rel="stylesheet">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div ng-include="'/home/templates/common/header.html'"></div>
<div ng-include="'/home/templates/changepassword.html'"></div>
<div ng-include="'/home/templates/common/footer.html'"></div>
  <!-- Main Content -->
  <!--<div ui-view></div>-->


  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <!-- UI Router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <!-- Angular Material -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src='/home/assets_js/formValidation.js'></script>
    <script src="/home/assets_js/bootstrap.min.js"></script>
    <script src="/home/assets_js/bootstrap.js"></script>
       <script src="/home/assets_js/bootstrap.js"></script>
    <script type="text/javascript" src="/home/assets_js/jquery.mixitup.min.js"></script>
    <script src="/home/assets_js/jquery.bxslider.min.js"></script> 
    <script src="/home/assets_js/custom.js"></script>
    <script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    
    
    <!--<script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>-->
  
  <!-- Custom JS -->
  <script src='/home/js/app.js'></script>
  <script src='/home/js/controllers/main.js'></script>
    <script src='/home/js/controllers/vendor.js'></script>
  
  <!-- add modules -->
  <script src='/common/modules/users.js'></script>
  <script src='/common/modules/contacts.js'></script>
  <script src='/common/modules/groups.js'></script>
  <script src='/common/modules/faqs.js'></script>
  <script src='/common/modules/subscribes.js'></script>
  <script type="text/javascript"> </script>
</body>
</html>