<ul>
    <li><strong>Add Job Post</strong>
        <ul>
            <li><i>Url:</i> api/posts</li>
            <li><i>Method:</i> Post</li>
            <li><i>Parameters: </i> title,cost,time,location,special_needs,description,post_type,slug,posted_by</li>
        </ul>  
    </li>
    <li><strong>Add Blog Post</strong>
        <ul>
            <li><i>Url:</i> api/posts/addBlog</li>
            <li><i>Method:</i> Post</li>
            <li><i>Parameters: </i> title,location,description,post_type,slug,posted_by,image</li>
        </ul>  
    </li>
    <li><strong>Get All posts</strong>
        <ul>
            <li><i>Url:</i> api/posts</li>
            <li><i>Method:</i> Get</li>
            <li><i>Description:</i> Get all Posts</li>
        </ul>  
    </li>
    
    <li><strong>Get Single Post</strong>
        <ul>
            <li><i>Url:</i> api/posts/:id</li>
            <li><i>Method:</i> Get</li>
            <li><i>Description:</i> Get single post by post id</li>
        </ul>  
    </li>
</ul>